/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
   
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
     .main-manu ul li {
        display: block;
         padding: 7px 7px;
    }
    .logo a {
    font-size: 16px;
    }
    a.boxed-button{
        margin-bottom: 40px;
    }
    .single-service-box{
        padding: 10px 0;
    }
    .social-icon i {
    height: 25px;
    width: 25px;
    line-height: 25px;
    }
    .single-team-member p {
    font-size: 15px;
    }
    button.navbar-toggler.navbar-light {
    margin-top: 15px;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
   .main-manu ul li {
    display: block;
    padding: 7px 7px;
       text-align: center;
}
    .hero-text {
    margin-top: 60px;
    }
    button.navbar-toggler.navbar-light {
    position: absolute;
    right: 25px;
    top: -58px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
  .main-manu ul li {
    display: block;
    }
    .hero-text {
    margin-top: 60px;
    }
    
    button.navbar-toggler.navbar-light {
    position: absolute;
    right: 25px;
    top: -58px;
    }
}